<h1><%= @user_recipe.recipe.name %></h1>


<div>
<% @user_recipe.recipe.images.each do |image| %>
  <img class="image-class" alt="Rails" src="<%=image.url%>"/>
<%end%>
</div>

 <h2>Ingredients</h2>
<%= form_tag "/user_recipes", method: :post do %>
  <% @user_recipe.selected_ingredients.each do |selected_ingredient| %>


      <div class="checkbox">
      <label>
        <%= check_box_tag 'selected_ingredient_ids[]', selected_ingredient.id %> <%= selected_ingredient.ingredient.amount %> <%= selected_ingredient.ingredient.food.name %>
      </label>
      </div>

      <% end %>
      <%= text_field_tag :phone_number, current_user.phone_number %> :Phone Number
      <%= hidden_field_tag :id, @user_recipe.id %>
  <div>
    <%= submit_tag "Submit", class:"btn btn-default"%>
  </div>

<% end %>

<i><%= @user_recipe.recipe.source %></i>
