<div class="container-fluid">
  <div class="index-body">

    <% if @recipes.blank? %>
      <% if params[:ingredient_search] %>
        <h4>There are no recipes containing <%= params[:ingredient_search] %>.</h4>
      <% elsif params[:search] %>
        <h4>There are no recipes containing <%= params[:search] %>.</h4>
      <% end %>
    <% end %>

    <% counter = 0 %>
    <div class="row">
      <% @recipes.each do |recipe| %>
        <% if counter % 3 == 0 %>
          </div>
        <% end %>

        <% if counter % 3 == 0 %>
          <div class="row">
        <% end %>


          <div class="col-md-4">
            <div class="hovereffect">
                <img class="img-responsive" alt="Rails" src="<%=recipe.images.first.url%>"></a>
                <div class="overlay">
                  <a class="info" href="/recipes/<%=recipe.id%>">
                    <div class="recipe_name"><%=recipe.name%></div>
                  </a>
                </div>
            </div>
        </div>


      <% counter += 1 %>
      <%end%>
    </div>
  </div>
</div>
