<div class="container-fluid recipe-show-body">

  <div class="recipe-show-title row">
    <h1><%= @recipe.name %></h1>
  </div>

  <div class="flexbox-container">

    <div class="col-md-6 col-xs-12">
      <% @recipe.images.each do |image| %>
        <img class="img-responsive recipe-image-show" alt="Rails" src="<%=image.url%>"/>
      <%end%>
    </div>

    <div class="col-md-6 col-xs-12">
      <div class="ingredients">
      <h2>Ingredients</h2>
      <% @recipe.ingredients.each do |ingredient| %>
            <ol> <%= ingredient.amount %> <%= ingredient.food.name %> </ol>
      <% end %>
    </div>
    </div>
  </div>

  <div class="make-save-buttons row">
    <div class="col-md-6">
      <%= form_tag "/recipes/#{@recipe.id}/to_make", method: :post do %>
          <%= hidden_field_tag :recipe_id, @recipe.id %>
          <button type="submit" class="my-btn-1 btn btn-primary">Make this now</button>
      <% end %>
    </div>
    <div class="col-md-6">
      <%= form_tag "/favorites", method: :post do %>
          <%= hidden_field_tag :recipe_id, @recipe.id %>
          <button type="submit" class="my-btn-2 btn btn-primary">Save this for later</button>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="direction-show-box">
    <h2>Directions</h2>
    <% @recipe.directions.each do |direction| %>
          <ol> <span class="step-number"> <%= direction.step_order %> </span>
            <span> <%= direction.description %> </span> </ol>
    <% end %>
    </div>
  </div>

  <div class="source row">
    <i>Adapted from: <%= @recipe.source %></i>
  </div>

</div>
