<div class="container-fluid">
  <div class="index-body">

    <div class="row">
      <div class="col-md-4">
        <div class="user-name">
        </div>
      </div>
      <div class="welcome col-md-4">
        <h4> Welcome back, </h4>
        <h3> <%= @user.name %>! </h3>
      </div>

      <div class="col-md-4">
        <div class="FBimage img-responsive">
          <% if @user.image %>
            <%= image_tag @user.image + "?type=large" %>
          <% else %>
            <%= image_tag "FB-default-pic.jpg" + "?type=large" %>
          <% end %>
        </div>
        <div class="btn-form">
        <% if !Following.find_by(follower_id: current_user.id, followee_id: @user.id) %>
          <%= form_tag "/follow", method: :post do %>
              <%= hidden_field_tag :user_id, @user.id %>
              <%= submit_tag "Follow", class:"my-btn-6 btn btn-primary"%>
          <% end %>
          <% else %>
          <%= form_tag "/unfollow", method: :post do %>
              <%= hidden_field_tag :user_id, @user.id %>
              <%= submit_tag "Unfollow", class:"my-btn-6 btn btn-primary"%>
          <% end %>
        <% end%>
      </div>


      </div>




    </div>


    <div class="saved-header row">
      <h3>Your Recipes: </h3>
    </div>



    <% counter = 0 %>
    <div class="row">
      <% @user.recipes.each do |fav_recipe| %>
        <% if counter % 4 == 0 %>
          </div>
        <% end %>

        <% if counter % 4 == 0 %>
          <div class="row">
        <% end %>


          <div class="col-md-3">
            <div class="hovereffect">
                <img class="img-responsive" alt="Rails" src="<%=fav_recipe.images.first.url%>"></a>
                <div class="overlay">
                  <a class="info" href="/recipes/<%=fav_recipe.id%>">
                    <div class="recipe_name"><%=fav_recipe.name%></div>
                  </a>
                </div>
            </div>
        </div>


      <% counter += 1 %>
      <%end%>
    </div>

    <div class="saved-header row">
      <h3>Your Friends: </h3>
    </div>

      <div class="row">
        <div class="FBimage-follow">


         <% @user.followers.each do |follower| %>
           <% if @user.image %>
             <a href="/users/<%=follower.id%>"><%= image_tag follower.image + "?type=large"%></a>
             <div class="username-follow">
             <%= follower.name %>
           </div>
           <%end%>
         <% end %>
       </div>

    </div>

  </div>
</div>
