<div class="container-fluid">
  <div class="categories-index-body">
    <h1 class="categories-header">Categories</h1>
    <% @categories.each do |category| %>
      <h1> <%= link_to category.name, "/categories/#{category.id}"%></h1>

      <% counter = 0 %>
        <div class="row">
          <% category.recipes.each do |recipe| %>
            <!-- <p> <%= counter%> </p> -->
            <% if counter % 3 == 0 %>
              <div class="row">
            <% end %>
            <div class="col-md-4">
              <div class="hovereffect">
                <img class="img-responsive" alt="Rails" src="<%=recipe.images.first.url%>">
                <a href="/recipes/<%=recipe.id%>">
                  <div class="overlay info">
                    <div class="recipe_name">
                      <%=recipe.name%>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <% if counter % 3 == 0 && counter != 0 %>
              </div>
            <% end %>
            <% counter += 1 %>
          <%end%>
        </div>
      </div>
    <% end %>
  </div>
</div>
