<!DOCTYPE html>
<html>
  <head>
    <title>OneHotMess</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

  </head>

  <body>
    <div class="pages-body">
      <div class="logo"> <a href="/"> <%=image_tag("one-hot-mess-logo-2.png")%> </a></div>
      </div>
            <nav class="my-nav navbar navbar-default">
              <div class="container-fluid">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="/">Home</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav">
                    <li> <a href="/ingredients">Ingredients <span class="sr-only">(current)</span></a></li>
                    <li><a href="/categories">Categories</a></li>

                  </ul>



                  <%= form_tag "/", :method => "get", id: "search-form", class: "navbar-form navbar-left" do %>
                    <div class="form-group" id="search">
                      <%= text_field_tag :search, params[:search], placeholder: "Search Recipes" %>
                      <%= submit_tag "Search", :name => nil %>
                    </div>
                  <% end %>


                  <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Link</a></li>
                  </ul>
                </div>
              </div>
            </nav>

            <% flash.each do |name, message| %>
              <div class="alert alert-<%= name %> alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <%= message %>
              </div>
            <% end %>


          <%= yield %>
          </div>
        </body>
</html>
