<!DOCTYPE html>
<html>
  <head>
    <title>OneHotMess</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="/red.css" rel="stylesheet">


  </head>

  <body>
    <div class="pages-body container-fluid">
      <div class="logo hidden-xs hidden-sm"> <a href="/"> <%=image_tag("one-hot-mess-logo-2.png")%> </a></div>

      <nav class="my-nav navbar center">


        <!-- Group "Brand" and "toggle"for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <!-- <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar">jhgjh</span>
            <span class="icon-bar"> mkjn</span>
            <span class="icon-bar"></span> -->
          </button>

          <a class="navbar-brand" href="/">
            <div class="navbar-logo hidden-md hidden-lg">
              <%=image_tag("one-hot-mess-logo-2.png")%>
            </div>
          </a>
        </div>

        <div class="navbar-inner">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav center">
                <li><%= form_tag "/", :method => "get", id: "search-form", class: "nav-search-form" do %>
                  <div class="form-group" id="my-search">
                    <%= text_field_tag :search, params[:search], placeholder: "Search Recipes" %>
                    <%= button_tag(type: "submit", class: "my-btn-4 btn btn-default") do %>
                      <i class="material-icons">search</i>
                    <% end %>
                  </div>
                <% end %></li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">

                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">  <i class="my-icon-menu-bar material-icons">menu</i></a>
                    <ul class="my-dropdown-menu dropdown-menu">
                      <li class="nav-link-btn-1"> <a href="/ingredients">Ingredients <span class="sr-only">(current)</span></a></li>
                      <li role="separator" class="my-divider divider"></li>
                      <li class="nav-link-btn-1"> <a href="/categories">Categories <span class="sr-only">(current)</span></a></li>
                      <li role="separator" class="divider"></li>
                        <% @navbar_categories.each do |category| %>
                          <li class="nav-link-btn-1"> <a href="/categories/<%="#{category.id}"%>"> <%="    - #{category.name}"%> <span class="sr-only">(current)</span></a></li>
                          <li role="separator" class="my-divider divider"></li>
                        <%end%>
                      <li class="nav-link-btn-1"> <a href="/users/<%="#{current_user.id}"%>">Profile <span class="sr-only">(current)</span></a></li>
                      <li role="separator" class="divider"></li>
                      <li class="nav-link-btn-1"> <a href="/users/sign_out">Sign Out <span class="sr-only">(current)</span></a></li>
                    </ul>
                </li>

              </ul>

          </div>
        </div>
      </nav>

      <% flash.each do |name, message| %>
        <div class="alert alert-<%= name %> alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <%= message %>
        </div>
      <% end %>

      <%= yield %>
      </div>
    <script src="/icheck.js"></script>
    </body>
</html>
